@model IEnumerable<WebBanGiay.Models.product>
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>
    <h2 class="title" style="position: center; text-align: center; padding-top: 10px;">Shoes for @ViewBag.title</h2>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3" style="padding-top:10px">
                    @Html.HiddenFor(model => item.shoe_id)
                    <div class="card">

                        <a href="/Products/ShoesDetail?shoe_id=@Html.DisplayFor(model => item.shoe_id) ">
                            <img src="@item.image" class="card-img-top" alt="...">
                        </a>
                        <div class="card-img-overlay" style="text-align:right; max-height:100px">
                            <p>@item.category_name</p>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title" style="font-size:medium">@item.name</h5>
                            <p class="card-text">@item.detail</p>
                            <a href="/Products/ShoesDetail?shoe_id=@Html.DisplayFor(model => item.shoe_id) " class="btn btn-primary">
                                Xem
                            </a>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>

</body>
</html>