@model WebBanGiay.Models.taikhoan
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập vào website</title>
    <meta charset="UTF-8">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="login-form">
            <form action="" method="post">
                <div class="row">
                    <div class="container">
                        <h1>Đăng nhập vào trang web</h1>
                        <div>
                            @if (ViewBag.message != null)
                            {
                                <p class="text-danger">@ViewBag.message</p>
                            }
                        </div>
                        <div class="input-box">
                            <i>Tài khoản</i>
                            <br />
                            <input class="col-md-12" type="text" placeholder="Nhập username" id="username" name="username">
                            <br />
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-box">
                            <i>Mật khẩu</i>
                            <br />
                            <input class="col-md-12" type="password" placeholder="Nhập mật khẩu" id="password" name="password">
                            <br />
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                        <div style="position:center; text-align:center; padding-top:5%">
                            <button class="btn btn-info" type="submit" value="Login" style="position:center">
                                Đăng nhập
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
